name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    environment: production
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          registry-url: https://npm.pkg.github.com/

      - name: Install dependencies
        run: |
          yarn install
          yarn bootstrap
          yarn build shared
          yarn build order
          yarn build warehouse